parameters:
	reportUnmatchedIgnoredErrors: false
	treatPhpDocTypesAsCertain: false
	tmpDir: build/phpstan
	level: 5
	paths:
		- src/
		- tests/
	bootstrapFiles:
		- vendor/codeigniter4/framework/system/Test/bootstrap.php
	excludePaths:
		- src/Config/Routes.php
	ignoreErrors:
		- '#Call to an undefined method CodeIgniter\\HTTP\\RequestInterface::[A-Za-z].+\(\)#'
		- '#Access to an undefined property CodeIgniter\\HTTP\\RequestInterface::\$[A-Za-z]#'
		- '#Call to an undefined method CodeIgniter\\HTTP\\IncomingRequest::[A-Za-z].+\(\)#'
		- '#Call to an undefined method CodeIgniter\\Database\\ConnectionInterface::[A-Za-z].+\(\)#'
		- '#Call to deprecated function random_string\(\)#'
		- '#Access to an undefined property CodeIgniter\\Config\\BaseConfig::\$[A-Za-z]#'
		- '#Call to deprecated method getMethod\(\) of class CodeIgniter\\HTTP\\OutgoingRequestInterface#'
		- '#Call to deprecated method request\(\)#'
		- '#Cannot access property#'
		- '#Expression on left side of ?? is not nullable#'
		- '#Call to deprecated method getMethod\(\) of class CodeIgniter\\HTTP\\Request:#'
		- '#Call to deprecated method getStatusCode\(\) of class CodeIgniter\\HTTP\\ResponseInterface:#'
		- '#Negated boolean expression is always true.#'
	universalObjectCratesClasses:
		- CodeIgniter\Entity
		- CodeIgniter\Entity\Entity
		- Faker\Generator
	scanDirectories:
		- vendor/codeigniter4/framework/system/Helpers
		- vendor/daycry/settings/src/Helpers
	dynamicConstantNames:
		- APP_NAMESPACE
		- CI_DEBUG
		- ENVIRONMENT
		- CodeIgniter\CodeIgniter::CI_VERSION